<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    	<p>
	    I have been in the IT industry since 2005 working in a variety of roles and environments. Although I come from a traditional networking background, I have great interest in modern technologies that involve network programmability and automation like SDN and SD-WAN, NFV, Orchestration and Data Plane programmable networks. 
	</p>
		    
    	<p>    
	    I have worked for Enterprises and Service Providers and therefore I have a good understanding of the structure and challenges in both environments.
	</p>
		    
	    I’m a science and technology enthusiast who loves to get a deep understanding of how and why things work the way they do. What fascinates me more about technology is that it gives us the tools to be creative, solve problems and evolve.  
		
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    	  <li>
            Migrated a monolithic Heroku Ruby on Rails API to multiple Scala
            services hosted on AWS. Delivered ahead of schedule, projected to save $18k/quarter.
    	  </li>
          <li>
            Presented research and proof-of-concept to convince team to move from Hadoop MR to Spark; reduced nodes by 60% and ran 5-8x faster.
          <li>
            Automated test automation in ramp-up to large data center migration, saving hundreds of developer hours.
    	  <li>
            Presented "Understanding the GIL to Prevent Race Conditions" at RubyConf 2016.
    	  </li>
    	  <li>
            Awarded patent for novel approach to item normalization in 3rd party catalog data feeds.
    	  </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
