<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    	<p>
	    I have been in the IT industry since 2005 working in a variety of roles and environments. Although I come from a traditional networking background, I have great interest in modern technologies that involve network programmability and automation like SDN and SD-WAN, NFV, Orchestration and Data Plane programmable networks. 
	</p>    
    	<p>    
	    I have worked for Enterprises and Service Providers and therefore I have a good understanding of the structure and challenges in both environments.
	</p>
        <p>
	I'm a science and technology enthusiast who loves getting a deep understanding of how and why things work the way they do. What fascinates me more about technology is that it gives us the tools to be creative, solve problems and evolve. 	
	</p>
	
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Certifications</h3>
		    <ul>
    	  <li>
               MEF SD-WAN Certified Professional
          </li>
	  <li>
               ONF Certified SDN Associate 
          </li>
	  <li>
               Cisco CCDP  
          </li>
	  <li>
               Cisco CCNP R&S 
          </li>
	  <li>
               Cisco CCNP Security (1 module pending) 
          </li> 
		    </ul>
	    </div>
    </div>
  </div>
</section>
