<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">

			<ul>
			  <li>
				<b>Software Defined Networking</b> - A network architecture that decouples the control plane from the forwarding plane leading to a programmable abstracted infrastructure. 
			  </li>
			  <li>
				<b>Software Defined - WAN</b> - An SDN use case where overlay tunnels are used to allow the WAN become transport agnostic and optimise application performance over lower cost access circuits.   
			  </li>
			  <li>  
				<b>Network Function Virtualisation</b> - A network architecture that decouples the networking functions from the hardware allowing them to be run as software over commodity servers, offering flexibility and reducing CAPEX & OPEX.  
			  </li>
			  <li> 	
				<b>Programmable Data Plane</b> - A new networking paradigm that abstracts the forwarding plane and allows switches to be controlled by software in order to perform complex and versatile operations. 
			  </li>
			  <li>
				<b>Networking as a Service</b> - A principal where users perceive a multi-provider network as an abstract entity offering end-to-end value-added services.    
				
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  		<li>
          		Technical lead of an SD-WAN project in 40 locations in the US. Project to be evaluated as POC for global SD-WAN deployment in more than 350 sites in US, Europe and APAC. Replied to RFP, presented solution to a wide panel including Head of Global IT, created all designs and documentation.
    		</li>
		<li>
			WiFi network design and planning for a new building with more than 7000 wireless clients. Predictive WiFi surveys using Ekahau Site Survey software. Passive WiFi surveys in order to create an AP placement design. WLC 8510 Configuration, RF profile implementation, Enterprise Wireless Policy deployment. Active surveys aiming to identify optimal AP placement and channel/power tuning in order to meet the coverage and capacity goals
  		</li>
		<li>
			Campus building relocation. Network audit in order to identify affected services, End-of-Life devices/modules, power usage. Capacity planning, power budget, cooling requirements, connectivity types. Identification of consolidation and redesign opportunities aiming to lower TCO. Specification of required resources, BOM using the Cisco Commerce tool.
		</li>	
			
          		
    		</li>

		   </ul>
      </div>
    </div>
  </div>
</section>
